<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="view.ejs">
</head>
<body>
    <div class="progress-bar" style="width: (completedTasks / totalTasks)*100"></div>

    <h1>Task List</h1>
    <ul>
        <% tasks.forEach(task => {%>
        <li>
            <strong><%= task.subject %></strong><br>
                <%= task.details %><br>
                <em>Priority: <%= task.priority %>, Group: <%= task.group %></em><br>
                <%= task.finished ? "Finished":"Progress" %>
        </li> 
        <%}); %>
    </ul>
    <h2>New Task</h2>
    <form action="/tasks" method="POST">
        <input type="text" name="Subject" placeholder="Task Subject" required><br>
        <textarea name="details" placeholder="Task Details" required></textarea><br>
        <input type="text" name="Priority" placeholder="Priority (low, medium, high)" required><br>
        <input type="text" name="Groups" placeholder="Groups (Work, Home, Personal, Daily)" required><br>
        <button type="submit">New Task</button>
    </form>
</body>
</html>